// Define variables for your color scheme

// For example:
$pink: #ED688D;
$blue: #47B1E4;
$yellow: #FFC65A;
$orange: #F06D4F;
$green: #09B1AB;
$dark: #010A33;
$light: #ffefd4;
$red: red;
$gray: #686868;
$white: #fbfbff;
