<div class="banner">
  <div class="container d-flex">
    <div class="left">
      <h1>Become a Math-A-Magician!</h1>
      <p>Train your math skills with us while having fun. Improve your addition, subtraction, multiplication and division skills by playing through our array of levels. Specially curated to improve your mental math skills!</p>
      <a class="btn btn-primary text-white" href="#">Play Now</a>
    </div>
    <div class="right">
    <%= image_tag "banner-2.jpg" %>
    </div>
  </div>
</div>
