<div class="banner">
  <div class="container d-flex gx-5">
    <div class="left">
      <h1>Become a Math-A-Magician!</h1>
      <p>Train your math skills with us while having fun. Improve your addition, subtraction, multiplication and division skills by playing through our array of levels. Specially curated to improve your mental math skills!</p>
      <a class="btn prm-button" href="/dashboard">Start learning</a>
    </div>
    <div class="right">
    <%= image_tag "https://raw.githubusercontent.com/math-mavens/math-invaders/master/app/assets/images/banner-img.jpeg" %>
    </div>
  </div>
</div>
