<div class="banner 80-vh">
  <div class="container height: auto;">
    <div class="row">
      <div class="col-6">
        <h2 class="mb-2">Raise a</h2>
          <h1>Math-A-Magician!</h1>
        <p>Your child can now train their math skills and have fun! Our training programs include addition, subtraction, multiplication and division. Get your child to play through our array of levels. Specially curated to improve their mental math skills!</p>
        <a class="btn prm-button" href="/dashboard">Get Started</a>
      </div>
      <div class="col-6">
      <%= image_tag "https://raw.githubusercontent.com/math-mavens/math-invaders/master/app/assets/images/banner-img-family.jpeg", class: "mt-4" %>
      </div>
    </div>
  </div>
</div>
