<div class="details-section">
  <div class="container col-md-12 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-sm-6 mx-auto">
        <div class="row img-section gap-4">
                <div class="col-sm-5 mb-2 detail-card d-flex"><img src="https://los-ninos.cmsmasters.net/los-ninos/wp-content/uploads/sites/4/2022/09/bulb.svg" alt=""><p>Addition</p></div>
                <div class="col-sm-5 mb-2 detail-card d-flex"><img src="https://los-ninos.cmsmasters.net/los-ninos/wp-content/uploads/sites/4/2022/09/bulb.svg" alt=""><p>Substraction</p></div>
                <div class="col-sm-5 mb-2 detail-card d-flex"><img src="https://los-ninos.cmsmasters.net/los-ninos/wp-content/uploads/sites/4/2022/09/bulb.svg" alt=""><p>Multiplication</p></div>
                <div class="col-sm-5 mb-2 detail-card d-flex"><img src="https://los-ninos.cmsmasters.net/los-ninos/wp-content/uploads/sites/4/2022/09/bulb.svg" alt=""><p>Division</p></div>
        </div>
      </div>
      <div class="col-sm-6 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Stuffs you'll learn</h1>
        <p class="col-auto fs-4">Choose one of our four categories to improve your math skills. You can train in: addition, soustraction, division and multiplication. Try to reach the last level to become a Math-A-Magician and compete your friends.</p>
        <a class="btn button-learning">Start learning</a>
      </div>
    </div>
  </div>
</div>
