<div class="details-section">
  <div class="container col-md-12 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-sm-6 mx-auto">
        <div class="row img-section gap-4">
                <div class="col-sm-5 mb-2 detail-card d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#09B1AB" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg>
                  <p>Addition</p>
                </div>
                <div class="col-sm-5 mb-2 detail-card d-flex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#09B1AB" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                  </svg>
                  <p>Substraction</p>
                </div>
                <div class="col-sm-5 mb-2 detail-card d-flex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#09B1AB" class="bi bi-plus-lg" viewBox="0 0 16 16">
                      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg>
                  <p>Multiplication</p>
                  </div>
                <div class="col-sm-5 mb-2 detail-card d-flex">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-divide" fill="#09B1AB" width="52" height="52" viewBox="0 0 24 24" stroke-width="1.5" stroke="#09B1AB"  stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="6" r="0.8" fill="#09B1AB"></circle>
                    <circle cx="12" cy="18" r="0.8" fill="#09B1AB"></circle>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg>
                 <p>Division</p>
                </div>
        </div>
      </div>
      <div class="col-sm-6 text-center text-lg-start">
        <h2 class="display-4 fw-bold lh-1 mb-3">Make your child learn</h2>
        <p class="col-auto fs-4"> Make your child gain fluency and confidence in math. Your child can choose one of our four categories to improve his math knowledges. Math Mavens helps students master essential skills at their own pace through fun and interactive</p>
        <a href="/dashboard" class="btn prm-button">Start learning</a>
      </div>
    </div>
  </div>
</div>
