<div class="details-section">
  <div class="container col-md-12 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-sm-6 mx-auto">
        <div class="row img-section gap-4">
                <div class="col-sm-5 mb-2 detail-card d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#09B1AB" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg>
                  <p>Addition</p>
                </div>
                <div class="col-sm-5 mb-2 detail-card d-flex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#09B1AB" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                  </svg>
                  <p>Substraction</p>
                </div>
                <div class="col-sm-5 mb-2 detail-card d-flex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#09B1AB" class="bi bi-plus-lg" viewBox="0 0 16 16">
                      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg>
                  <p>Multiplication</p>
                  </div>
                <div class="col-sm-5 mb-2 detail-card d-flex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#09B1AB" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                  </svg>
                 <p>Division</p>
                </div>
        </div>
      </div>
      <div class="col-sm-6 text-center text-lg-start">
        <h2 class="display-4 fw-bold lh-1 mb-4">What we offer</h2>
        <p class="col-auto fs-4">Choose one of our four categories to improve math skills. Your child can train their: addition, substraction, division and multiplication skills. Try to reach the last level to become a Math-A-Magician.</p>
        <a href="/dashboard" class="btn prm-button">Try now</a>
      </div>
    </div>
  </div>
</div>
