<div class="details-section">
  <div class="container col-md-12 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-sm-6 mx-auto">
        <div class="row img-section gap-4">
                <div class="col-sm-5 mb-2 detail-card d-flex">
                  <i class="fa-solid fa-plus fa-2x" style="color:#47B1E4"></i>
                  <p>Addition</p>
                </div>
                <div class="col-sm-5 mb-2 detail-card d-flex">
                 <i class="fa-solid fa-minus fa-2x" style="color:orange"></i>
                  <p>Substraction</p>
                </div>
                <div class="col-sm-5 mb-2 detail-card d-flex">
                  <i class="fa-solid fa-xmark fa-2x" style="color:orange"></i>
                  <p>Multiplication</p>
                  </div>
                <div class="col-sm-5 mb-2 detail-card d-flex">
                 <i class="fa-solid fa-divide fa-2x" style="color:#47B1E4"></i>
                  <p>Division</p>
                </div>
        </div>
      </div>
      <div class="col-sm-6 text-center text-lg-start">
        <h2 class="display-4 fw-bold lh-1 mb-4">What we offer</h2>
        <p class="col-auto fs-4">Choose one of our four categories to improve math skills. Your child can train their: addition, substraction, division and multiplication skills. Try to reach the last level to become a Math-A-Magician.</p>
        <a href="/dashboard" class="btn prm-button">Try now</a>
      </div>
    </div>
  </div>
</div>
