 <div class="container">
  <div class="ladder-search">
    <%= form_tag attempts_path, method: 'get', class: 'd-flex justify-content-end' do %>
      <%= select_tag :level,
        options_from_collection_for_select(@levels, 'id', :name_for_select, params[:level]),
        include_blank: 'All Levels', class: 'justify-content-end form-select w-25 me-1' %>
      <%= submit_tag 'Filter', class: 'btn btn-primary text-white' %>
    <% end %>
  </div>
</div>
