<div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>Math Mavens</h2>
      <p class="pr-5">Your childs mathematic's buddy to become a Math-A-Magician.<br>Let your child train their math skills between four categories.<br>Start your childs learning journey today!</p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0 menu-footer">
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Play a game</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Location</h4>
      <p class="mb-0"><i class="bi bi-geo-alt"></i>&nbsp;Frii Hotel, Canggu, Bali</p>
      <p class="mb-0"><i class="bi bi-telephone"></i>&nbsp;(541) 754-3010</p>
      <p><i class="bi bi-envelope-at"></i>&nbsp;info@mathmavens.com</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small>Made with ❤️ by Math Mavens at Le Wagon 2022</small></p>
    </div>
  </div>
</div>
</div>
