<div class="container space-section">
  <div class="section-title col-lg-8 col-md-10 mx-auto">
    <h2 class="text-center">How it works</h2>
    <p class="text-center text-desc-home">Math Mavens is built to help your kids love mathematics. We have four categories: addition, substraction, multiplication and division. Theses categories will help to improve their mathematics knowledge and become better and better everyday. Let’s start by picking up a category and play!</p>
  </div>
  <div class="col-md-12 ml-auto mr-auto">
    <div class="row">
    <!-- CARD -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card-hiw">
          <img src="https://images.pexels.com/photos/5200773/pexels-photo-5200773.jpeg?auto=compress&cs=tinysrgb&w=800" alt="">
          <div class="card-body">
            <div class="d-flex hiw-numb gap-2">
                <div class="anim-wrapper">
                  <h2 class="number-hiwcard anim-element"
                    data-anim-type="animate__fadeInLeftBig" data-anim-reps="animate__repeat-1">01.</h2>
                </div>
              <h2>Choose a game</h2>
            </div>
            <p>Start their math journey by choosing a math category. You can choose between our four main categories.</p>
          </div>
        </div>
      </div>
       <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card-hiw">
          <img src="https://images.pexels.com/photos/5896689/pexels-photo-5896689.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
          <div class="card-body">
            <div class="d-flex hiw-numb gap-2">
                <div class="anim-wrapper">
                  <h2 class="number-hiwcard anim-element"
                    data-anim-type="animate__fadeInDownBig" data-anim-reps="animate__repeat-1">02.</h2>
                </div>
              <h2>Play</h2>
            </div>
            <p>Let your child play our different categories and try to achieve the best scores possible. Your child can attempt each level as many times as they'd like.</p>
          </div>
        </div>
      </div>
       <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card-hiw">
          <img src="https://images.pexels.com/photos/5896665/pexels-photo-5896665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
          <div class="card-body">
            <div class="d-flex hiw-numb gap-2">
                <div class="anim-wrapper">
                  <h2 class="number-hiwcard anim-element"
                    data-anim-type="animate__fadeInRightBig" data-anim-reps="animate__repeat-1">03.</h2>
                </div>
              <h2>Repeat</h2>
            </div>
            <p>The main goal of Math Mavens is to make your child the best mathematician possible. Train and repeat to become a Math-A-Magician!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
