<div class="container my-5">
  <div class="section-title col-lg-8 col-md-10 mx-auto">
    <h2 class="text-center">How it works</h2>
    <p class="text-center">Math Mavens is built to help kids to love mathematic again. We have four categories: addition, soustraction, multiplication and division. Theses categories will help you to improve your mathematics knowledges and become better and better everyday. Let’s start by picking up a category and play !</p>
  </div>
  <div class="col-md-12 ml-auto mr-auto">
    <div class="row">
    <!-- CARD -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card-hiw">
          <img src="https://images.pexels.com/photos/5200773/pexels-photo-5200773.jpeg?auto=compress&cs=tinysrgb&w=800" alt="">
          <div class="card-body">
            <div class="d-flex hiw-numb gap-2">
              <h2 class="number-hiwcard">01.</h2>
              <h2>Choose the game</h2>
            </div>
            <p>Start your math journey by choosing your favorite math category and try to do your best score. You can choose between four main categories.</p>
          </div>
        </div>
      </div>
       <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card-hiw">
          <img src="https://images.pexels.com/photos/5896689/pexels-photo-5896689.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
          <div class="card-body">
            <div class="d-flex hiw-numb gap-2">
              <h2 class="number-hiwcard">02.</h2>
              <h2>Play</h2>
            </div>
            <p>Be focused and try to reach the best score to be first on your category. You can make how many attempts you want to train yourself.</p>
          </div>
        </div>
      </div>
       <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card-hiw">
          <img src="https://images.pexels.com/photos/5896665/pexels-photo-5896665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
          <div class="card-body">
            <div class="d-flex hiw-numb gap-2">
              <h2 class="number-hiwcard">03.</h2>
              <h2>Repeat</h2>
            </div>
            <p>The main goal of Math Mavens is to make you the best mathematician possible. Train and repeat the different games and levels to become a Math-A-Magician !</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
