<div class="container mt-5">
  <div class="mw-75 text-center">
    <h1>View progress</h1>
    <div class="mw-50 py-3 px-5">
      <p>Analyze your child's progress and results in differents mathematics operations to target where you need to train more. <br> Math Mavens helps you to gain fluency and confidence in math.</p>
    </div>
    <img src="https://math-mavens.fly.dev/images/attempts_static_chart.png" class="img-fluid" alt="">
  </div>
</div>
