<div class=" container spacing" >
  <div class="flip-card me-3">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1 class="mt-3">Problems Solved</h1>
        <span><i class="fas fa-brain fa-2xl mt-5" style="color:orange"></i></i></span>
        <p class="mt-4">Your Best: <strong>3</strong></p>
      </div>
      <div class="flip-card-back">
          <p class="mt-5">Keep going you're doing great!</p>
      </div>
    </div>
  </div>
  <div class="flip-card me-3">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1 class="mt-3">Time Taken</h1>
        <span><i class="fas fa-stopwatch fa-2xl mt-5" style="color:orange"></i></i></span>
        <p class="mt-4">Your Best: <strong><%= @all_time.min/1000.0 %></strong> secs</p>
      </div>
      <div class="flip-card-back">
          <p>Practice makes perfect!</p>
      </div>
    </div>
  </div>
  <div class="flip-card me-3">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1 class="mt-3">High Score</h1>
        <span><i class="fa-solid fa-award fa-2xl mt-5" style="color:orange"></i></i></span>
        <p class="mt-4">Your Best: <strong><%= @all_scores.max.to_i %></strong> pts</p>
      </div>
      <div class="flip-card-back">
          <p>Amazing!</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1 class="mt-3">Bullets Fired</h1>
        <span><i class="fa-solid fa-bullseye fa-2xl mt-5" style="color:orange"></i></i></span>
        <p class="mt-4">Your Best: <strong>3</strong> shots</p>
      </div>
      <div class="flip-card-back">
          <p>Amazing!</p>
      </div>
    </div>
  </div>
</div>
