<div class="container">
  <div class="my-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/dashboard">My games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/attempts">Attempts</a>
      </li>
    </ul>
  </div>
</div>
