<div class="container">
  <div class="my-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <% if current_page?(:controller => 'pages', :action => 'dashboard') %>
          <a class="nav-link active active-tab" aria-current="page" href="/dashboard">My games</a>
        <% else %>
          <a class="nav-link inactive-tab" href="/dashboard">My games</a>
        <% end %>
      </li>
      <li class="nav-item">
      <% if current_page?(:controller => 'attempts', :action => 'index') %>
        <a class="nav-link active active-tab" aria-current="page" href="/attempts">Attempts</a>
      <% else %>
        <a class="nav-link inactive-tab" href="/attempts">Attempts</a>
      <% end %>
      </li>
      <li class="nav-item">
      <% if current_page?(:controller => 'pages', :action => 'statistics') %>
        <a class="nav-link active active-tab" aria-current="page" href="/statistics">My progress</a>
      <% else %>
        <a class="nav-link inactive-tab" href="/statistics">My progress</a>
      <% end %>
      </li>
    </ul>
  </div>
</div>
