.banner {
  background-size: cover;
  background-position: center;
  // height: 80vh;
  padding: 60px 0px;
  background-color: $light;
}

.banner img {
  width: 500px;
  height: 337px;
  border-radius: 2px;

}

.banner {
  h1 {
  margin: 0;
  color: $dark;
  font-size: 60px;
  margin-bottom: 35px;
  }
}

.banner p {
  font-size: 20px;
  color: $dark;
  margin-bottom: 35px;
  margin-right: 85px;
}
