.banner {
  background-size: cover;
  background-position: center;
  padding: 130px 0px;
  background-color: $light;
}

.banner img {
  width: 612px;
  height: 408px;
  border-radius: 4px;

}

.banner h1 {
  margin: 0;
  color: $dark;
  font-size: 60px;
  margin-bottom: 35px;
}

.banner p {
  font-size: 20px;
  color: $dark;
  margin-bottom: 35px;
  margin-right: 85px;
}
