.details-section {
  background-color: #ffefd4;
}

.button-learning {
  background-color: #09B1AB;
  color: white !important;
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 18px;
  padding-right: 18px;
}

.img-section img {
  height: 50px;
}

.detail-card {
  background-color: #fbfbff;
  border-radius: 4px;
  align-items: center;
  box-shadow: 2px 2px #F06D4F;
  min-height: 80px;
}
.detail-card p {
  font-size: 24px;
  line-height: 1em;
  margin-left: 20px;
  margin-bottom: 0px;
}
