.card-hiw {
  border: none;
  border-radius: 0.625rem;
  display: flex;
  position: relative;
  flex-direction: column;
}

.card-body {
  padding: 20px;
  background-color: #ffefd4;
  border-radius: 0px 0px 4px 4px;
  min-height: 190px;
}

.card-hiw img {
  height: 220px;
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
}

.number-hiwcard {
color: #F06D4F;
font-size: 40px;
}

.hiw-numb {
  align-items: self-end;
}


.text-desc-home {
  font-size: 18px;
}
