

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.button-login {
  background-color: #09B1AB;
  color: white !important;
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 18px;
  padding-right: 18px;
}

.button-login:hover {
  background-color: #09B1AB;
}
.nav-link {
  font-weight: 900 !important;
  color: #010A33 !important;

}

.navbar-mathmavens {
  background-color: white;
}

.text-navbar{
  color: #010A33 !important;
  font-size: 16px;
}


.prm-button-nav {
  background-color: #09B1AB;
  color: white !important;
  font-size: 18px;
  font-weight: 800;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
}
.prm-button-nav:hover {
  background-color: #09b1abd1;
}


.btn-avatar {
  background-color: #ffefd4;
}
.btn-avatar:hover {
  background-color: #ffefd4;
}

.btn-avatar span {
  color: #F06D4F;
  font-weight: bold;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  background-color: #ffefd4;
  color: #F06D4F;
  border: none;
}
