

input[type=text], textarea, input[type=email], input[type=password], input[type=tel], input[type=url], input[type=search], input[type=date] {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    line-height: 24px;
    color: $dark;
    background-color: #f1f1f1;
    border: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

input[type=text], textarea, input[type=email], input[type=password], input[type=tel], input[type=url], input[type=search], input[type=date], .material.woocommerce-page[data-form-style="default"] input#coupon_code {
    background-color: white;
    border-radius: 4px;
}
/* /end Codepen Specific */
/* Ladder Navigation */
  // #leaderboard {
  //     padding:50px;
  // }
  .ladder-nav {
      display:flex;
      flex-wrap:wrap;
      align-items: center;
      background: $orange;
      padding:10px 25px;
      border-radius:10px;
  }
  .ladder-title {
    flex:2;
  }
  .ladder-search {
    flex:1;
    padding-right:25px;
  }
  .ladder-title {
    font-size:20px;
    color:$white!important;
    font-weight:bold;
    text-transform:uppercase;
  }

.leaderboard-results thead th {
  padding: 25px;
  color:rgb(7, 7, 7);
  font-size:20px;
  font-weight:bold;
}
.leaderboard-results tbody td {
  padding:8px 25px;
  font-size:18px;
  color:rgb(7, 7, 7);;
}
.leaderboard-results tbody td:nth-of-type(7) {
  font-weight:bold;
}

// .leaderboard-results tbody tr {
//   color:#747474;
// }

.leaderboard-results tbody span {
  font-weight:bold;
  padding:10px 15px;
  border-radius:50%;
}

.rows-color tr:nth-child(even) {
  background-color: White;
}
.rows-color tr:nth-child(odd) {
  background-color: #f1f1f1;
  border-radius: 4px;
}

th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
