<div class="container">
  <%= render "shared/tabs" %>
    <turbo-frame id="attempts">
      <%= render "shared/filter" %>
      <%= render "shared/stats_card" %>
      <%= render "shared/attempt_table" %>
    </turbo-frame>
</div>
